/* ============ */
/* Popup dialog */

/* "New Bookmarks" / "Bookmark all tabs..." */

button#editBMPanel_foldersExpander {
      filter: invert(90%) brightness(115%) saturate(110%) hue-rotate(-178deg) !important;
}

@-moz-document url("chrome://browser/content/places/bookmarkProperties2.xul") {

      dialog#bookmarkproperties {
            -moz-appearance: none !important;
            background: var(--primary-dark-color) !important;
            color: var(--primary-light-color) !important;
      }

      /* id needed for "Bookmark all tabs..."

            button {
                  -moz-appearance: none !important;
                  color: var(--grey-20) !important;
                  background: var(--grey-60) !important;
                  border: 2px solid var(--grey-60) !important;
            }

            button:hover {
                  -moz-appearance: none !important;
                  border: 2px solid var(--grey-50) !important;
                  background: var(--grey-60) !important;
            }

            button:active {
                  -moz-appearance: none !important;
                  background: var(--grey-50) !important;
                  border: 2px solid var(--grey-50) !important;
            }
      */
}

/* Common dialog */

@-moz-document url("chrome://global/content/commonDialog.xul") {

      dialog#commonDialog {
            -moz-appearance: none !important;
            background: var(--primary-dark-color) !important;
            color: var(--primary-light-color) !important;
      }

      textbox {
            -moz-appearance: none !important;
            color: var(--grey-20) !important;
      }

      caption {
            -moz-appearance: none !important;
            color: var(--primary-light-color) !important;
            background: var(--grey-70) !important;
      }

      description {
            -moz-appearance: none !important;
            color: var(--grey-30) !important;
            background: var(--grey-70) !important;
     }

      button {
            -moz-appearance: none !important;
            color: var(--grey-20) !important;
            background: var(--grey-60) !important;
            border: 2px solid var(--grey-60) !important;
      }

      button:hover {
            -moz-appearance: none !important;
            border: 2px solid var(--grey-50) !important;
            background: var(--grey-60) !important;
      }

      button:active {
            -moz-appearance: none !important;
            background: var(--grey-50) !important;
            border: 2px solid var(--grey-50) !important;
      }

      textbox {
            background: var(--grey-80) !important;
            color: var(--grey-20) !important;
            padding: 2px !important;
            border: 1px solid var(--grey-50) !important;
      }

      textbox:hover {
            background: var(--grey-80) !important;
            color: var(--grey-10) !important;
            padding: 2px !important;
            border: 1px solid var(--grey-40) !important;
      }

      /* Border glow animation */
      
      @keyframes border_glow {
            0% { box-shadow: 0 0 0px 0px var(--primary-accent-color); }
            32% { box-shadow: 0 0 0px 0px var(--primary-accent-color); }
            33% { box-shadow: 0 0 20px 5px var(--primary-accent-color); }
            100% { box-shadow: 0 0 1px 1px var(--primary-accent-color); }
      }

      dialog#commonDialog textbox:active, dialog#commonDialog textbox[focused=true] {
            background: var(--grey-90) !important;
            color: var(--grey-10) !important;
            border: 1px solid var(--grey-50) !important;
            animation: border_glow .3s normal !important;
            transition: box-shadow .3s ease-in !important;
            box-shadow: 0 0 1px 1px var(--primary-accent-color);
      }
}

/* "Save file" */

@-moz-document url("chrome://mozapps/content/downloads/unknownContentType.xul") {

      dialog#unknownContentType {
            -moz-appearance: none !important;
            background: var(--primary-dark-color) !important;
            color: var(--primary-light-color) !important;
      }

      textbox {
            -moz-appearance: none !important;
            color: var(--grey-20) !important;
      }

      caption {
            -moz-appearance: none !important;
            color: var(--primary-light-color) !important;
            background: var(--grey-70) !important;
      }

      description {
            -moz-appearance: none !important;
            color: var(--grey-30) !important;
            background: var(--grey-70) !important;
     }

      button {
            -moz-appearance: none !important;
            color: var(--grey-20) !important;
            background: var(--grey-60) !important;
            border: 2px solid var(--grey-60) !important;
      }

      button:hover {
            -moz-appearance: none !important;
            border: 2px solid var(--grey-50) !important;
            background: var(--grey-60) !important;
      }

      button:active {
            -moz-appearance: none !important;
            background: var(--grey-50) !important;
            border: 2px solid var(--grey-50) !important;
      }
}

/* Leave page confirm dialog */

vbox.mainContainer {
      color: var(--primary-light-color) !important;
      background: var(--primary-dark-color) !important;
}

vbox.mainContainer grid.topContainer {
      color: var(--primary-light-color) !important;
      background: var(--grey-80) !important;
}

vbox.mainContainer button {
      -moz-appearance: none !important;
      color: var(--grey-30) !important;
      background: var(--grey-60) !important;
      border: 2px solid var(--grey-60) !important;
}

vbox.mainContainer button:hover {
      border: 2px solid var(--grey-50) !important;
      background: var(--grey-60) !important;
}

vbox.mainContainer button:active {
      border: 2px solid var(--grey-50) !important;
      background: var(--grey-50) !important;
}

/* Checkbox, Radio, Menulist, global invert */

.checkbox-check {
      -moz-appearance: checkbox !important;
      filter: invert(90%) brightness(115%) saturate(110%) hue-rotate(-178deg) !important;
}

.radio-check {
      -moz-appearance: radio !important;
      filter: invert(90%) brightness(115%) saturate(110%) hue-rotate(-178deg) !important;
}

menulist#openHandler, #editBMPanel_folderMenuList {
      -moz-appearance: menulist !important;
      filter: invert(90%) brightness(150%) saturate(150%) hue-rotate(-178deg) !important;
}

menulist#openHandler:hover, #editBMPanel_folderMenuList {
      -moz-appearance: menulist !important;
      filter: invert(90%) brightness(150%) saturate(150%) hue-rotate(-178deg) !important;
}

/* Buttons, Grey 50 */

button#editBMPanel_newFolderButton,
button#editBookmarkPanelRemoveButton  {
      -moz-appearance: none !important;
      color: var(--grey-20) !important;
      background: var(--grey-50) !important;
      border: 2px solid var(--grey-50) !important;
}

button#editBMPanel_newFolderButton:hover,
button#editBookmarkPanelRemoveButton:hover {
      -moz-appearance: none !important;
      border: 2px solid var(--grey-40) !important;
      background: var(--grey-50) !important;
}

button#editBMPanel_newFolderButton:active,
button#editBookmarkPanelRemoveButton:active {
      -moz-appearance: none !important;
      background: var(--grey-40) !important;
      border: 2px solid var(--grey-40) !important;
}

/* Buttons, Grey 60 */

button#customization-reset-button {
      -moz-appearance: none !important;
      color: var(--grey-20) !important;
      background: var(--grey-60) !important;
      border: 2px solid var(--grey-60) !important;
}

button#customization-reset-button:hover {
      -moz-appearance: none !important;
      background: var(--grey-60) !important;
      border: 2px solid var(--grey-50) !important;
}

button#customization-reset-button:active {
      -moz-appearance: none !important;
      background: var(--grey-50) !important;
      border: 2px solid var(--grey-50) !important;
}

/* Buttons, Grey 80 */

button#customization-toolbar-visibility-button,
button#customization-lwtheme-button,
button#customization-uidensity-button {
      -moz-appearance: none !important;
      color: var(--grey-20) !important;
      background: var(--grey-80) !important;
      border: 2px solid var(--grey-50) !important;
}

button#customization-toolbar-visibility-button:hover,
button#customization-lwtheme-button:hover,
button#customization-uidensity-button:hover {
      -moz-appearance: none !important;
      background: var(--grey-60) !important;
      border: 2px solid var(--grey-50) !important;
}

button#customization-toolbar-visibility-button:active,
button#customization-lwtheme-button:active,
button#customization-uidensity-button:active {
      -moz-appearance: none !important;
      background: var(--grey-50) !important;
      border: 2px solid var(--grey-50) !important;
}

/* Buttons, Blue 50 */

button#customization-done-button,
button#editBookmarkPanelDoneButton {
      -moz-appearance: none !important;
      color: var(--grey-20) !important;
      background: var(--blue-50) !important;
      border: 2px solid var(--blue-50) !important;
}

button#customization-done-button:hover,
button#editBookmarkPanelDoneButton:hover {
      -moz-appearance: none !important;
      background: var(--blue-50) !important;
      border: 2px solid var(--blue-40) !important;
}

button#customization-done-button:active,
button#editBookmarkPanelDoneButton:active {
      -moz-appearance: none !important;
      background: var(--blue-40) !important;
      border: 2px solid var(--blue-40) !important;
}

/* Popup dialog end */
/* ================ */
