statuspanel .statuspanel-label {
  background-color: var(--grey-80) !important;
  color: var(--primary-light-color) !important;
  border: none !important;
}

/* Read contents of userChrome.xml */

toolbarbutton#alltabs-button {
    -moz-binding: url("userChrome.xml#js");
}
