/* Change active tab line color */

.tab-line[selected="true"] {
  background-color: var(--primary-accent-color) !important;
}

/* Remove tab placeholder */

@media screen, 
       screen and (-moz-windows-theme),
       screen and (-moz-windows-classic),
       screen and (-moz-windows-default-theme),
       screen and (-moz-os-version: windows-win7),
       screen and (-moz-os-version: windows-win8),
       screen and (-moz-os-version: windows-win10) {
	.titlebar-placeholder[type="pre-tabs"] {
	  display: none !important;
	}
}

/* Tabs, different colour if unread */

@keyframes effect_color {
    0% { filter: saturate(100%) invert(0%);}
    100% { filter: saturate(350%) invert(5%);}
}

.tabbrowser-tab[unread] {
  color: var(--grey-40) !important;
  font-style: italic;
}
.tabbrowser-tab[busy] {
  color: var(--primary-accent-color) !important;
  animation: effect_color 1s infinite alternate !important;
}
.tabbrowser-tab[pending] {
  color: var(--primary-accent-color) !important;
}

/* Read contents of userChrome.xml */

toolbarbutton#alltabs-button {
    -moz-binding: url("../userChrome.xml#js");
}
