/* Change active tab line color */

.tab-line[selected="true"] {
  background-color: var(--primary-accent-color) !important;
}

/* Remove tab placeholder */

@media screen, 
       screen and (-moz-windows-theme),
       screen and (-moz-windows-classic),
       screen and (-moz-windows-default-theme),
       screen and (-moz-os-version: windows-win7),
       screen and (-moz-os-version: windows-win8),
       screen and (-moz-os-version: windows-win10) {
	.titlebar-placeholder[type="pre-tabs"] {
	  display: none !important;
	}
}

/* Tabs, different colour if unread */

.tabbrowser-tab[unread] {
  color: var(--grey-40) !important;
}
.tabbrowser-tab[busy] {
  color: var(--grey-40) !important;
}
.tabbrowser-tab[pending] {
  color: var(--grey-40) !important;
}

/* Read contents of userChrome.xml */

toolbarbutton#alltabs-button {
    -moz-binding: url("../userChrome.xml#js");
}
