@-moz-document url(about:performance)  {
  #subprocess-reports th {
    background-color: var(--primary-accent-color) !important;
    color: white !important;
  }

  #subprocess-reports td {
    background-color: var(--primary-light-color) !important;
    color: var(--grey-80) !important;
  }

  table {
    background-color: var(--grey-70) !important;
    color: var(--grey-30);
    font: message-box;
    text-align: start;
    width: 100%;
  }
}
