:root {
	--panel-separator-color: var(--grey-50) !important
}

/* Looks like macOS */

#urlbar,
.searchbar-textbox {
	border-radius: 14px !important;
}

#urlbar[focused=true],
.searchbar-textbox[focused=true] {
	border: 1px solid !important;
	box-shadow: 0 1px 4px var(--primary-accent-color) !important;
	border-color: var(--primary-accent-color) !important
}

#PopupAutoCompleteRichResult .autocomplete-richlistbox,
.searchbar-treebody::-moz-tree-row {
	background-color: var(--grey-60) !important
}

#PopupAutoCompleteRichResult .autocomplete-richlistitem,
.autocomplete-tree {
	border-bottom-color: var(--primary-light-color) !important
}

#PopupSearchAutoComplete tree,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-action,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-separator,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-title,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-tree {
	color: var(--grey-30) !important
}

.autocomplete-richlistitem[selected=true],
.searchbar-treebody::-moz-tree-row(selected) {
	background-color: var(--blue-50) !important
}

.ac-action[selected],
.ac-separator[selected],
.ac-title[selected],
.ac-url[selected],
.autocomplete-richlistitem[selected=true] .ac-action,
.autocomplete-richlistitem[selected=true] .ac-separator,
.autocomplete-richlistitem[selected=true] .ac-title,
.autocomplete-richlistitem[selected=true] .ac-url {
	color: var(--grey-20) !important
}

.ac-url,
.search-panel-input-value {
	color: var(--grey-20) !important
}

.search-one-offs {
	background: var(--grey-80) !important
}

.search-panel-header,
.search-panel-one-offs {
	background: var(--grey-80) !important;
	border-top: none !important
}

.autocomplete-history-popup,
panel[type=autocomplete-richlistbox],
panel[type=autocomplete] {
	color: var(--primary-light-color) !important;
	background: var(--grey-70) !important
}

.searchbar-treebody::-moz-tree-row(hover),
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem:hover,
treechildren.searchbar-treebody::-moz-tree-row(hover) {
	background-color: var(--grey-70) !important
}

@-moz-document url-prefix(about:sessionrestore) {
  button#tabsToggle {
    background-color: var(--primary-dark-color) !important;
  }
}

#nav-bar textbox:-moz-lwtheme-brighttext {
  background-color: rgba(63, 63, 63, 1) !important;
}

#nav-bar textbox:hover:-moz-lwtheme-brighttext {
  background-color: rgba(75, 75, 75, 0.75) !important;
}
