/* Popup dialog begin */

/* Windows 7 Basic Theme makes some dark stuff look bad */

@media not screen and (-moz-windows-classic) {

      textbox#password-notification-username, textbox#password-notification-password {
            filter: invert(85%) brightness(125%) saturate(110%) hue-rotate(-178deg) !important;
      }

      @-moz-document url("chrome://browser/content/places/bookmarkProperties2.xul") {

            dialog#bookmarkproperties {
                  -moz-appearance: none !important;
                  background: var(--grey-60) !important;
                  color: var(--primary-light-color) !important;
            }

            @media not screen and (-moz-windows-theme) {
                  @media not screen and (-moz-windows-classic) {
                        @media not screen and (-moz-windows-default-theme) {
                              @media not screen and (-moz-os-version: windows-win7) {
                                    @media not screen and (-moz-os-version: windows-win8) {
                                          @media not screen and (-moz-os-version: windows-win10) {
                                                #editBMPanel_folderTree {
                                                      border: 1px solid var(--grey-50) !important;
                                                }

                                                vbox#editBookmarkPanelContent grid#editBookmarkPanelGrid rows row#editBMPanel_folderTreeRow vbox hbox#editBMPanel_newFolderBox#editBMPanel_newFolderBox {
                                                      background: var(--grey-60) !important;
                                                      border: 0px solid var(--grey-60) !important;
                                                }

                                                button {
                                                      border-radius: 4px !important;
                                                }
                                          }
                                    }
                              }
                        }
                  }
            }

            @media screen and (-moz-windows-theme),
                  screen and (-moz-windows-classic),
                  screen and (-moz-windows-default-theme),
                  screen and (-moz-os-version: windows-win7),
                  screen and (-moz-os-version: windows-win8),
                  screen and (-moz-os-version: windows-win10) {
                        button#editBMPanel_foldersExpander {
                              -moz-appearance: button !important;
                              filter: invert(80%) brightness(115%) saturate(110%) hue-rotate(-178deg) !important;
                        }
            }
      }

      /* Common dialog */

      @-moz-document url("chrome://global/content/commonDialog.xul") {

            dialog#commonDialog {
                  -moz-appearance: none !important;
                  background: var(--primary-dark-color) !important;
                  color: var(--primary-light-color) !important;
            }

            textbox {
                  -moz-appearance: none !important;
                  color: var(--grey-20) !important;
            }

            caption {
                  -moz-appearance: none !important;
                  color: var(--primary-light-color) !important;
                  background: var(--primary-dark-color) !important;
            }

            description {
                  -moz-appearance: none !important;
                  color: var(--grey-30) !important;
                  background: var(--primary-dark-color) !important;
            }

            textbox {
                  background: var(--grey-80) !important;
                  color: var(--grey-30) !important;
                  padding: 2px !important;
                  border: 1px solid var(--grey-50) !important;
            }

            textbox:hover {
                  background: var(--grey-80) !important;
                  color: var(--grey-10) !important;
                  padding: 2px !important;
                  border: 1px solid var(--grey-40) !important;
            }

            /* Border glow animation */

            @keyframes border_glow {
                  0% { box-shadow: 0 0 0px 0px var(--primary-accent-color); }
                  32% { box-shadow: 0 0 0px 0px var(--primary-accent-color); }
                  33% { box-shadow: 0 0 20px 5px var(--primary-accent-color); }
                  100% { box-shadow: 0 0 1px 1px var(--primary-accent-color); }
            }

            dialog#commonDialog textbox:active, dialog#commonDialog textbox[focused=true] {
                  background: var(--grey-90) !important;
                  color: var(--grey-10) !important;
                  border: 1px solid var(--grey-50) !important;
                  animation: border_glow .3s normal !important;
                  transition: box-shadow .3s ease-in !important;
                  box-shadow: 0 0 1px 1px var(--primary-accent-color);
            }
      }

      /* "Save file" */

      @-moz-document url("chrome://mozapps/content/downloads/unknownContentType.xul") {

            dialog#unknownContentType {
                  -moz-appearance: none !important;
                  background: var(--primary-dark-color) !important;
                  color: var(--grey-30) !important;
            }

            /* Required if Windows 7 Basic Theme was used */
            groupbox {
                  -moz-appearance: none !important;
                  background: var(--primary-dark-color) !important;
            }

            checkbox[disabled] {
                  text-shadow: 1px 1px 0px rgba(74, 74, 79, 0.1) !important;
            }

            textbox {
                  -moz-appearance: none !important;
                  color: var(--grey-20) !important;
            }

            caption {
                  -moz-appearance: none !important;
                  color: var(--primary-light-color) !important;
                  background: var(--primary-dark-color) !important;
            }

            description {
                  -moz-appearance: none !important;
                  color: var(--grey-20) !important;
                  background: var(--primary-dark-color) !important;
            }
      }

      /* Launch Application dialog */

      @-moz-document url("chrome://mozapps/content/handling/dialog.xul"),
            url("chrome://global/content/appPicker.xul") {

                  dialog {
                        -moz-appearance: none !important;
                        background: var(--grey-60) !important;
                        color: var(--primary-light-color) !important;
                  }

                  .box-inherit.scrollbox-innerbox {
                        -moz-appearance: none !important;
                        background: var(--primary-dark-color) !important;
                        color: var(--primary-light-color) !important;
                  }

                  listbox#app-picker-listbox {
                        -moz-appearance: none !important;
                        background: var(--primary-dark-color) !important;
                        color: var(--primary-light-color) !important;
                        border: 1px solid var(--grey-50) !important;
                  }

                  listitem.listitem-iconic {
                        -moz-appearance: none !important;
                        color: var(--grey-20) !important;
                  }

                  caption {
                        -moz-appearance: none !important;
                        color: var(--primary-light-color) !important;
                        background: var(--grey-60) !important;
                  }

                  description, #content-description {
                        -moz-appearance: none !important;
                        color: var(--grey-30) !important;
                        background: var(--grey-60) !important;
                  }

                  textbox {
                        -moz-appearance: none !important;
                        color: var(--grey-20) !important;
                        background: var(--grey-80) !important;
                        padding: 2px !important;
                        border: 1px solid var(--grey-50) !important;
                  }

                  textbox:hover {
                        background: var(--grey-80) !important;
                        color: var(--grey-10) !important;
                        padding: 2px !important;
                        border: 1px solid var(--grey-40) !important;
                  }
      }

      /* Certificate Viewer dialog */

      @-moz-document url("chrome://pippki/content/certViewer.xul") {

            dialog {
                  -moz-appearance: none !important;
                  background: var(--grey-70) !important;
                  color: var(--primary-light-color) !important;
            }

            .tabs-right {
                  filter: invert(80%) grayscale(5%) saturate(200%) hue-rotate(-178deg) !important;
            }

            tabpanels, #general_info, #verified {
                  -moz-appearance: none !important;
                  background: var(--grey-80) !important;
                  color: var(--primary-light-color) !important;
            }

            treechildren, textbox#certDumpVal {
                  background: var(--grey-10) !important;
                  color: var(--grey-40) !important;
                  filter: invert(95%) contrast(95%) brightness(150%) grayscale(5%) saturate(200%) hue-rotate(-178deg) !important;
            }

            .scrollfield, .scrollfield:hover, .groove {
                  border: 1px solid var(--grey-60) !important;
            }

            caption {
                  -moz-appearance: none !important;
                  color: var(--primary-light-color) !important;
                  background: var(--grey-60) !important;
            }

            description {
                  -moz-appearance: none !important;
                  color: var(--grey-30) !important;
                  background: var(--grey-60) !important;
            }

            tab[selected="true"]:not([ignorefocus="true"]) {
                  -moz-appearance: none !important;
                  color: var(--grey-20) !important;
                  background: var(--grey-80) !important;
                  border-bottom: 0px solid var(--grey-60) !important;
            }

            tab:not([ignorefocus="true"]) {
                  -moz-appearance: none !important;
                  color: var(--grey-40) !important;
                  background: var(--grey-80) !important;
                  border-bottom: 0px solid var(--grey-60) !important;
            }

            tab:hover {
                  color: var(--grey-30) !important;
                  background: var(--grey-80) !important;
            }

            textbox {
                  -moz-appearance: none !important;
                  color: var(--grey-30) !important;
                  background: var(--grey-80) !important;
                  border: 1px solid var(--grey-80) !important;
            }

            textbox:hover {
                  background: var(--grey-80) !important;
                  color: var(--grey-10) !important;
                  border: 1px solid var(--grey-80) !important;
            }

            /* Border glow animation */

            @keyframes border_glow {
                  0% { box-shadow: 0 0 0px 0px var(--primary-accent-color); }
                  32% { box-shadow: 0 0 0px 0px var(--primary-accent-color); }
                  33% { box-shadow: 0 0 20px 5px var(--primary-accent-color); }
                  100% { box-shadow: 0 0 1px 1px var(--primary-accent-color); }
            }

            dialog textbox:active, dialog textbox[focused=true] {
                  background: var(--grey-90) !important;
                  color: var(--grey-10) !important;
                  border: 1px solid var(--grey-50) !important;
                  animation: border_glow .3s normal !important;
                  transition: box-shadow .3s ease-in !important;
                  box-shadow: 0 0 1px 1px var(--primary-accent-color);
            }
      }

      /* Cookies dialog */

      @-moz-document url("chrome://browser/content/preferences/cookies.xul") {

            .windowDialog {
                  -moz-appearance: none !important;
                  background: var(--grey-70) !important;
                  color: var(--primary-light-color) !important;
            }

            tabpanels, #general_info, #verified, treechildren {
                  -moz-appearance: none !important;
                  background: var(--grey-10) !important;
                  color: var(--grey-40) !important;
                  filter: invert(95%) contrast(95%) brightness(125%) grayscale(5%) saturate(300%) hue-rotate(-178deg) !important;
            }

            treecol {
                  -moz-appearance: none !important;
                  border: 0px solid !important;
                  border-bottom: 1px solid !important;
                  border-right: 1px solid rgb(0,0,0) !important;
                  -moz-border-bottom-colors: rgb(0,0,0) !important;
                  background: linear-gradient(to bottom,
                        rgba(56,70,82,1) 0%,
                        rgba(35,39,48,1) 100%) !important;
                  color: white !important;
                  padding: 4px !important;
            }

            splitter.tree-splitter {
                  -moz-appearance: none !important;
                  background: var(--grey-50) !important;
                  color: var(--primary-light-color) !important;
                  padding: 1px !important;
            }

            caption {
                  -moz-appearance: none !important;
                  color: var(--primary-light-color) !important;
                  background: var(--grey-60) !important;
            }

            description {
                  -moz-appearance: none !important;
                  color: var(--grey-30) !important;
                  background: var(--grey-60) !important;
            }

            #cookieInfoBox {
                  -moz-appearance: none !important;
                  color: var(--grey-20) !important;
                  background: var(--grey-80) !important;
                  padding: 2px !important;
            }

            textbox {
                  -moz-appearance: none !important;
                  color: var(--grey-30) !important;
                  background: var(--grey-80) !important;
                  padding: 2px !important;
                  border: 0px solid var(--grey-50) !important;
            }

            textbox:hover {
                  background: var(--grey-80) !important;
                  color: var(--grey-10) !important;
                  padding: 2px !important;
                  border: 0px solid var(--grey-40) !important;
            }
      }

      /* Saved Logins dialog */

      @-moz-document url("chrome://passwordmgr/content/passwordManager.xul") {

            #SignonViewerDialog, #savedsignons {
                  -moz-appearance: none !important;
                  background: var(--grey-70) !important;
                  color: var(--primary-light-color) !important;
            }

            tabpanels, #general_info, #verified, treechildren {
                  -moz-appearance: none !important;
                  background: var(--grey-10) !important;
                  color: var(--grey-40) !important;
                  filter: invert(95%) contrast(95%) brightness(125%) grayscale(5%) saturate(300%) hue-rotate(-178deg) !important;
            }

            treecol {
                  -moz-appearance: none !important;
                  border: 0px solid !important;
                  border-bottom: 1px solid !important;
                  border-right: 1px solid rgb(0,0,0) !important;
                  -moz-border-bottom-colors: rgb(0,0,0) !important;
                  background: linear-gradient(to bottom,
                        rgba(56,70,82,1) 0%,
                        rgba(35,39,48,1) 100%) !important;
                  color: white !important;
                  padding: 4px !important;
            }

            splitter.tree-splitter, treecolpicker.treecol-image {
                  -moz-appearance: none !important;
                  background: var(--grey-50) !important;
                  color: var(--primary-light-color) !important;
                  padding: 1px !important;
            }

            caption {
                  -moz-appearance: none !important;
                  color: var(--primary-light-color) !important;
                  background: var(--grey-60) !important;
            }

            description {
                  -moz-appearance: none !important;
                  color: var(--grey-30) !important;
                  background: var(--grey-60) !important;
            }

            #cookieInfoBox {
                  -moz-appearance: none !important;
                  color: var(--grey-20) !important;
                  background: var(--grey-80) !important;
                  padding: 2px !important;
            }

            textbox {
                  -moz-appearance: none !important;
                  color: var(--grey-30) !important;
                  background: var(--grey-80) !important;
                  padding: 2px !important;
                  border: 0px solid var(--grey-50) !important;
            }

            textbox:hover {
                  background: var(--grey-80) !important;
                  color: var(--grey-10) !important;
                  padding: 2px !important;
                  border: 0px solid var(--grey-40) !important;
            }
      }

      /* Import Wizard dialog */

      @-moz-document url("chrome://browser/content/migration/migration.xul") {

            #migrationWizard {
                  -moz-appearance: none !important;
                  background: var(--grey-70) !important;
                  color: var(--primary-light-color) !important;
            }

            #dataSources, .wizard-header {
                  -moz-appearance: none !important;
                  background: var(--grey-80) !important;
                  color: var(--primary-light-color) !important;
                  border: 1px solid var(--grey-60) !important;
            }

            caption {
                  -moz-appearance: none !important;
                  color: var(--primary-light-color) !important;
                  background: var(--grey-70) !important;
            }

            description {
                  -moz-appearance: none !important;
                  color: var(--grey-30) !important;
                  background: var(--grey-70) !important;
            }

            #cookieInfoBox {
                  -moz-appearance: none !important;
                  color: var(--grey-20) !important;
                  background: var(--grey-80) !important;
                  padding: 2px !important;
            }

            textbox {
                  -moz-appearance: none !important;
                  color: var(--grey-30) !important;
                  background: var(--grey-80) !important;
                  padding: 2px !important;
                  border: 0px solid var(--grey-50) !important;
            }

            textbox:hover {
                  background: var(--grey-80) !important;
                  color: var(--grey-10) !important;
                  padding: 2px !important;
                  border: 0px solid var(--grey-40) !important;
            }
      }

      /* Add Security Exception dialog */

      @-moz-document url("chrome://pippki/content/exceptionDialog.xul") {

            dialog {
                  -moz-appearance: none !important;
                  background: var(--primary-dark-color) !important;
                  color: var(--primary-light-color) !important;
            }

            caption {
                  -moz-appearance: none !important;
                  color: var(--primary-light-color) !important;
                  background: var(--primary-dark-color) !important;
            }

            description {
                  -moz-appearance: none !important;
                  color: var(--grey-30) !important;
                  background: var(--primary-dark-color) !important;
            }

            textbox {
                  -moz-appearance: none !important;
                  color: var(--grey-30) !important;
                  background: var(--grey-80) !important;
                  padding: 2px !important;
                  border: 1px solid var(--grey-50) !important;
            }

            textbox:hover {
                  background: var(--grey-80) !important;
                  color: var(--grey-10) !important;
                  padding: 2px !important;
                  border: 1px solid var(--grey-40) !important;
            }

            /* Border glow animation */

            @keyframes border_glow {
                  0% { box-shadow: 0 0 0px 0px var(--primary-accent-color); }
                  32% { box-shadow: 0 0 0px 0px var(--primary-accent-color); }
                  33% { box-shadow: 0 0 20px 5px var(--primary-accent-color); }
                  100% { box-shadow: 0 0 1px 1px var(--primary-accent-color); }
            }

            dialog textbox:active, dialog textbox[focused=true] {
                  background: var(--grey-90) !important;
                  color: var(--grey-10) !important;
                  border: 1px solid var(--grey-50) !important;
                  animation: border_glow .3s normal !important;
                  transition: box-shadow .3s ease-in !important;
                  box-shadow: 0 0 1px 1px var(--primary-accent-color);
            }
      }

      /* Delete Server Cert, others dialog */

      @-moz-document url("chrome://pippki/content/deletecert.xul"),
            url("chrome://pippki/content/changepassword.xul"),
            url("chrome://pippki/content/load_device.xul"),
            url("chrome://mozapps/content/extensions/about.xul"),
            url("chrome://pippki/content/editcacert.xul") {

                  dialog {
                        -moz-appearance: none !important;
                        background: var(--primary-dark-color) !important;
                        color: var(--primary-light-color) !important;
                  }

                  .box-padded, .groupbox-body, #clientBox {
                        -moz-appearance: none !important;
                        background: var(--grey-80) !important;
                        color: var(--primary-light-color) !important;
                        border: 1px solid var(--grey-60) !important;
                  }

                  .basic-info, .dialog-button-box {
                        -moz-appearance: none !important;
                        background: var(--grey-70) !important;
                        color: var(--primary-light-color) !important;
                  }

                  #extensionDescription.boxIndent {
                        -moz-appearance: none !important;
                        background: var(--grey-80) !important;
                        color: var(--primary-light-color) !important;
                        padding-top: 5px !important;
                  }

                  .scrollfield, .scrollfield:hover, .groove {
                        border: 1px solid var(--grey-60) !important;
                  }

                  caption {
                        -moz-appearance: none !important;
                        color: var(--primary-light-color) !important;
                        background: var(--primary-dark-color) !important;
                  }

                  description {
                        -moz-appearance: none !important;
                        color: var(--grey-30) !important;
                        background: var(--primary-dark-color) !important;
                  }

                  textbox {
                        -moz-appearance: none !important;
                        color: var(--grey-30) !important;
                        background: var(--grey-80) !important;
                        padding: 2px !important;
                        border: 1px solid var(--grey-50) !important;
                  }

                  textbox:hover {
                        background: var(--grey-80) !important;
                        color: var(--grey-10) !important;
                        padding: 2px !important;
                        border: 1px solid var(--grey-40) !important;
                  }

                  /* Border glow animation */

                  @keyframes border_glow {
                        0% { box-shadow: 0 0 0px 0px var(--primary-accent-color); }
                        32% { box-shadow: 0 0 0px 0px var(--primary-accent-color); }
                        33% { box-shadow: 0 0 20px 5px var(--primary-accent-color); }
                        100% { box-shadow: 0 0 1px 1px var(--primary-accent-color); }
                  }

                  dialog textbox:active, dialog textbox[focused=true] {
                        background: var(--grey-90) !important;
                        color: var(--grey-10) !important;
                        border: 1px solid var(--grey-50) !important;
                        animation: border_glow .3s normal !important;
                        transition: box-shadow .3s ease-in !important;
                        box-shadow: 0 0 1px 1px var(--primary-accent-color);
                  }
      }

      /* Checkbox, Radio, Menulist, global invert */

      .checkbox-check {
            -moz-appearance: checkbox !important;
            filter: invert(90%) brightness(115%) saturate(110%) hue-rotate(-178deg) !important;
      }

      .radio-check {
            -moz-appearance: radio !important;
            filter: invert(90%) brightness(115%) saturate(110%) hue-rotate(-178deg) !important;
      }

      menulist#openHandler, #editBMPanel_folderMenuList {
            -moz-appearance: menulist !important;
            filter: invert(95%) brightness(95%) contrast(85%) saturate(165%) hue-rotate(-178deg) !important;
      }

      @media not screen and (-moz-windows-theme) {
            @media not screen and (-moz-windows-classic) {
                  @media not screen and (-moz-windows-default-theme) {
                        @media not screen and (-moz-os-version: windows-win7) {
                              @media not screen and (-moz-os-version: windows-win8) {
                                    @media not screen and (-moz-os-version: windows-win10) {
                                          menulist#openHandler, #editBMPanel_folderMenuList {
                                                -moz-appearance: menulist !important;
                                                filter: invert(95%) brightness(165%) contrast(85%) saturate(165%) hue-rotate(-178deg) !important;
                                          }
                                    }
                              }
                        }
                  }
            }
      }

      menulist#openHandler:hover, #editBMPanel_folderMenuList:hover {
            -moz-appearance: menulist !important;
            filter: invert(88%) brightness(100%) contrast(85%) saturate(165%) hue-rotate(-178deg) !important;
      }

      @media not screen and (-moz-windows-theme) {
            @media not screen and (-moz-windows-classic) {
                  @media not screen and (-moz-windows-default-theme) {
                        @media not screen and (-moz-os-version: windows-win7) {
                              @media not screen and (-moz-os-version: windows-win8) {
                                    @media not screen and (-moz-os-version: windows-win10) {
                                          menulist#openHandler:hover, #editBMPanel_folderMenuList:hover {
                                                -moz-appearance: menulist !important;
                                                filter: invert(90%) brightness(165%) contrast(85%) saturate(165%) hue-rotate(-178deg) !important;
                                          }
                                    }
                              }
                        }
                  }
            }
      }

      @media screen and (-moz-os-version: windows-win7),
            screen and (-moz-os-version: windows-win8),
            screen and (-moz-os-version: windows-win10) {
                  menulist#openHandler, #editBMPanel_folderMenuList {
                        -moz-appearance: menulist !important;
                        color: var(--grey-60) !important;
                        filter: invert(95%) grayscale(90%) brightness(115%) contrast(85%) saturate(165%) hue-rotate(-178deg) !important;
                  }

                  menulist#openHandler:hover, #editBMPanel_folderMenuList:hover {
                        -moz-appearance: menulist !important;
                        filter: invert(85%) grayscale(90%) brightness(115%) contrast(85%) saturate(165%) hue-rotate(-178deg) !important;
                  }
      }
}
/* Popup dialog end */
